@model NDISBudget.Areas.Company.Data.LoginModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>NDIS</title>

    <meta name="description" content="NDIS">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="NDIS">
    <meta property="og:site_name" content="Dashmix">
    <meta property="og:description" content="NDIS">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">


    <link rel="shortcut icon" href="~/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/media/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" id="css-main" href="~/assets/css/dashmix.min.css">
    <link href="~/assets/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="page-container">
        <div class="d-flex flex-column flex-root">
            <div class="d-flex flex-column flex-lg-row flex-column-fluid">
                <div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px positon-xl-relative">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                        <!--begin::Header-->
                        <div class="d-flex flex-row-fluid flex-column text-center">
                            <!--begin::Logo-->
                            <a href="index.html" class="py-2 py-lg-10">
                                <img alt="Logo" src="~/assets/media/logos/logo-ellipse.svg" class="h-60px h-lg-70px" />
                            </a>
                            <!--end::Logo-->
                            <!--begin::Title-->
                            <h1 class="d-none d-lg-block fw-bold text-white fs-2qx">Welcome to Plangenie</h1>
                            <!--end::Title-->
                            <!--begin::Description-->
                            <p class="d-none d-lg-block fw-semibold fs-2 text-white">
                                Plan your blog post by choosing a topic
                            </p>
                            <!--end::Description-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Illustration-->
                        <img alt="Logo" src="~/assets/media/illustrations/sigma-1/banner-img.png" style="max-width:80%; max-height:70% ; margin-bottom: 40px;" />
                      
                        <!--end::Illustration-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                    <div class="d-flex flex-column flex-lg-row-fluid py-10">
                        <div class="d-flex flex-center flex-column flex-column-fluid">
                            <!--begin::Wrapper-->
                            <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                                <form class="js-validation-signin" asp-action="Login" method="POST">
                                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                                    {
                                        <span class="text-danger">
                                            @ViewBag.Message
                                        </span>
                                    }
                                    <!--begin::Heading-->
                                    <div class="text-center mb-10">
                                        <!--begin::Title-->
                                    <h1 class="text-gray-900 mb-3">Sign In to Plangenie</h1>
                                        <!--end::Title-->
                                    </div>
                                    <!--begin::Heading-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-10">
                                        <!--begin::Label-->
                                        <label class="form-label fs-6 fw-bold text-gray-900">UserName</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" asp-for="UserName" class="form-control form-control-lg form-control-solid" id="UserName" name="UserName" placeholder="Username" autocomplete="off">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-10">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-stack mb-2">
                                            <!--begin::Label-->
                                            <label class="form-label fw-bold text-gray-900 fs-6 mb-0">Password</label>
                                            <!--end::Label-->
                                            <!--begin::Link-->
                                             @* <a href="authentication/sign-in/password-reset.html" class="link-primary fs-6 fw-bold">Forgot Password ?</a> *@
                                            <!--end::Link-->
                                        </div>
                                        <!--end::Wrapper-->
                                        <!--begin::Input-->
                                        <input type="password" asp-for="Password" class="form-control form-control-lg form-control-solid" id="Password" name="Password" placeholder="Password" autocomplete="off">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Actions-->
                                    <div class="text-center">
                                        <!--begin::Submit button-->
                                        <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">
                                            <span class="indicator-label"> <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Sign In</span>
                                            <span class="indicator-progress">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Submit button-->                                 
                                    </div>
                                    <!--end::Actions-->
                                </form>
                            </div>
                        </div>
                    </div>
             
            </div>

        </div>
   @*       <main id="main-container">
             <div class="hero-static col-md-15 d-flex align-items-center bg-body-extra-light">
                 <div class="p-3 w-100">
                     <!-- Header -->
                     <div class="mb-3 text-center">
                         <a>
                             <img src="~/assets/media/photos/ndis.jpg" width="140" height="90" alt="">
                         </a>
                         <p class="text-uppercase fw-bold fs-sm text-muted">Company Sign In</p>
                     </div>
                     <!-- END Header -->
                     <div class="row g-0 justify-content-center">
                         <div class="col-sm-5 col-xl-3">
                             <form class="js-validation-signin" asp-action="Login" method="POST">
                                 @if (!string.IsNullOrEmpty(ViewBag.Message))
                                 {
                                     <span class="text-danger">
                                         @ViewBag.Message
                                     </span>
                                 }
                                 <div class="py-3">
                                     <div class="mb-4">
                                         <input type="text" asp-for="UserName" class="form-control form-control-lg form-control-alt" id="UserName" name="UserName" placeholder="Username">
                                         <span asp-validation-for="UserName" class="text-danger"></span>
                                     </div>
                                     <div class="mb-4">
                                         <input type="password" asp-for="Password" class="form-control form-control-lg form-control-alt" id="Password" name="Password" placeholder="Password">
                                         <span asp-validation-for="Password" class="text-danger"></span>
                                     </div>
                                 </div>
                                 <div class="mb-4">
                                     <button type="submit" class="btn w-100 btn-lg btn-hero btn-primary" >
                                         <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Sign In
                                     </button>
                                    
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
     </div>
     </div>
     </main> *@
    </div>
    <!-- END Page Container -->
    <script src="~/assets/js/dashmix.app.min.js"></script>

    <!-- jQuery (required for jQuery Validation plugin) -->
    <script src="~/assets/js/lib/jquery.min.js"></script>

    <!-- Page JS Plugins -->
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

    <!-- Page JS Code -->
    <script src="~/assets/js/pages/op_auth_signin.min.js"></script>
    <script src="~/js/global.js"></script>
    <script>

       

    </script>

</body>
</html>
