@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NDIS.Entities.AdminAddCompany
@{
    Layout = null;
}
<!doctype html>
<!--
    Solution by GetTemplates.co
    URL: https://gettemplates.co
-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- awesone fonts css-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" href="~/landing_page/owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/landing_page/css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="~/landing_page/css/style.css">

    <style>

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
        <div class="container">
            <a class="fw-semibold text-white tracking-wide" href="#">
                <span class="smini-hidden">
                    <img src="~/assets/media/photos/ndis.jpg" width="120" height="65" alt="">
                </span>
            </a>
            <form class="form-inline my-2 my-lg-0">
                <a href="~/Admin/Main/Index"  class="btn btn-info my-2 my-sm-0 text-uppercase">
                    sign
                    up
                </a>
            </form>
        </div>
        </div>
    </nav>
    <div class="container-fluid gtco-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        We promise to bring
                        the best <span>solution</span> for
                        your business.
                    </h1>
                    <br />
                    <br />
                    <a href="~/Company/Account/Login">Business login <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-6">
                    <div class="card"><img class="card-img-top img-fluid" src="~/landing_page/images/banner-img.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/landing_page/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/landing_page/js/popper.min.js"></script>
    <script src="~/landing_page/js/bootstrap.min.js"></script>
    <!-- owl carousel js-->
    <script src="~/landing_page/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/landing_page/js/main.js"></script>
</body>
</html>
